@import '../../styles/mixin.scss';

.product-list {
  @include flexContainer(center, flex-start);
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 40px 0 40px;

  .result {
    text-align: center;
    font-size: 15px;
  }
}
