@import '../../styles/mixin.scss';

.product {
  @include flexContainer(center, center);
  flex-direction: column;
  width: 25%;
  margin-bottom: 100px;

  img {
    width: 98%;
  }

  .product-info {
    @include flexContainer(flex-start, flex-start);
    flex-direction: column;
    width: 100%;
    font-size: 15px;

    h2 {
      width: 100%;
      padding: 13px 0;
    }

    p {
      width: 100%;
    }
  }
}
