@import '../../styles/mixin.scss';

.no-product {
  @include flexContainer(center, center);
  flex-direction: column;
  gap: 10px;
  font-weight: 400;

  img {
    width: 150px;
    height: 150px;
    animation: spin 1.5s linear alternate infinite;
    @keyframes spin {
      from {
        transform: rotate(-15deg);
      }
      to {
        transform: rotate(15deg);
      }
    }
  }
}
