.size-component {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  cursor: pointer;
}

.size-left {
  transition: all 0.5s ease-in-out;
}

.background-gray {
  background-color: rgba(0, 0, 0, 0.1);
}

.size-quantity {
  display: flex;
  margin: -3px;

  .orderNumberCount {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: 10px;
  }

  span {
    margin: 0px 10px;
    font-size: 12px;
    text-align: 10px;
    line-height: 20px;
  }
}

.display {
  display: none;
}
