.slide-img {
  position: relative;

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #edeaea;
    font-size: 50px;
    font-weight: bold;
  }
}
