@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

a {
  cursor: pointer;
}

.header-wrapper {
  @include flexContainer(center, space-between);
  // position: fixed;
  padding: 0 38px 0 20px;
  width: 100%;
  height: 100px;
  font-family: Arial, ZH-Sans, 'Lucida Sans Unicode', sans-serif, 'icomoon';

  .left-container {
    @include flexContainer(center, center);
    .ham-menu {
      font-size: 26px;
      margin-right: 25px;
      cursor: pointer;
    }

    h1 {
      font-size: 32px;
      letter-spacing: 10px;
    }
  }

  .center-container {
    @include flexContainer(center, center);

    .search-bar {
      @include flexContainer(center, center);

      span {
        font-size: 18px;
      }

      .search-line {
        width: 180px;
        height: 18px;
        margin-left: 2px;
        border-bottom: 1px solid $var-black;
      }
    }
  }

  .right-container {
    @include flexContainer(center, space-between);
    width: 170px;
    font-size: 14px;

    .login-link,
    .basket-link {
      &:hover {
        opacity: 0.5;
      }
    }
    .text {
      margin: 0 7px;
    }
  }
}
