@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.header-wrapper {
  @include flexContainer(center, space-between);
  position: fixed;
  width: 100%;
  height: 100px;
  padding: 10px 15px 0 20px;
  font-family: Arial, ZH-Sans, 'Lucida Sans Unicode', sans-serif, 'icomoon';
  z-index: 1000;
  background: white;

  .left-container {
    @include flexContainer(center, center);

    .ham-menu {
      margin-right: 25px;
      font-size: 26px;
      cursor: pointer;
    }

    h1 {
      font-size: 32px;
      letter-spacing: 10px;
    }
  }

  .center-container {
    .search-bar {
      @include flexContainer(center, center);

      span {
        font-size: 18px;
      }

      .search-line {
        width: 180px;
        height: 18px;
        margin-left: 2px;
        border-bottom: 1px solid $var-black;
      }
    }
  }

  .right-container {
    .page-link {
      margin-right: 15px;

      &:hover {
        opacity: 0.5;
      }

      .icon {
        font-size: 17px;
      }

      .text {
        margin: 0 7px;
        font-size: 13px;
      }
    }
  }
}
