@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.signUp {
  @include flexContainer(center, center);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

  .container {
    position: relative;
    @include flexContainer(flex-start, center);
    width: 60%;
    padding: 30px;
    background-color: white;

    .section {
      width: 43%;
      height: 100%;

      .sign-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        color: $var-black;

        .fa-angle-left {
          cursor: pointer;
        }

        .section-header {
          margin-bottom: 20px;
          color: $var-black;
          font-weight: bolder;
        }
      }

      .sign-checkbox {
        .checkbox-input {
          margin: 25px 0;

          a {
            color: gray;
          }
        }
      }

      .sign-main {
        button {
          width: 100%;
          padding: 10px 0;
          margin: 10px 0;
          border: 1px solid black;
          background-color: white;
          transition: all 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
    }
  }
}
.signup-x {
  position: absolute;
  right: 30px;
  padding-left: 20px;
  font-size: 15px;
  cursor: pointer;
}
