.nav {
  position: relative;
  top: 100px;
  width: 315px;
  height: 80%;
  padding: 20px;
  background-color: bisque;
  transform: translateX(-300px);
  transition: all 1s ease-in-out;

  span {
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .nav-header {
    span {
      margin-bottom: 10px;

      &:not(.header-copy) {
        padding-left: 10px;
      }
    }

    .header-copy {
      font-size: 30px;
      letter-spacing: -6px;
    }
  }

  .nav-main {
    margin: 25px 0;

    .main-new {
      margin: 20px 0;

      span {
        margin: 5px 0;
        font-size: 17px;

        &:last-child {
          color: red;
        }
      }
    }

    .main-menus {
      margin: 10px 0;
      font-size: 18px;
    }
  }

  .nav-footer {
    margin: 30px 0;

    .footer-menus {
      margin: 10px 0;
      font-size: 18px;
    }

    .footer-stories {
      margin: 20px 0;
      font-size: 20px;
    }
  }
}

.nav-transformer {
  transform: translateX(0px);
}
