.nav {
  width: 315px;
  height: 100%;
  padding: 20px;
  overflow-y: hidden;
  transform: translateX(-260px);
  transition: all 0.4s ease-in-out;

  span {
    display: block;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  .logo-space {
    height: 12%;
    background-color: transparent;
  }

  .nav-header {
    span {
      margin-bottom: 10px;
      &:not(.header-copy) {
        padding-left: 10px;
      }
    }

    .header-copy {
      font-size: 30px;
      letter-spacing: -6px;
    }
  }

  .nav-main {
    margin: 25px 0;
    font-family: Arial, Helvetica, sans-serif;

    .main-new {
      margin: 20px 0;

      span {
        margin: 5px 0;
        font-size: 17px;

        &:last-child {
          color: red;
        }
      }
    }

    .main-menus {
      margin: 10px 0;
      font-size: 18px;
    }

    .main-sub-menus {
      margin: 10px 0px 10px 12px;
      font-size: 15px;
    }
  }

  .nav-footer {
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;

    .footer-menus {
      margin: 10px 0;
      font-size: 18px;
    }

    .footer-stories {
      margin: 20px 0;
      font-size: 20px;
    }
  }
}

.nav-transformer {
  transform: translateX(0px);
}
